/* ============================================ */
/* ============= variables ==================== */
/* ============================================ */

:root {
  --font-ubuntu: "Ubuntu", arial, sans-serif;
  --font-roboto: "Roboto", arial, sans-serif;
  --font-work-sans: "WorkSans", arial, sans-serif;

  --page: #E5E5E5;

  --primary: #116ACC;
  --primary-2: #457bb4;
  --primary-3: #054486;
  --primary-4: #70aff3;
  --primary-5: #8ec1f7;
  --primary-6: #a0c3ff;
  --secondary-1: #182233;
  --secondary-2: #B3CEE2;
  --secondary-3:  #D9DDE7;
  --secondary-4: #FD4E5D;

  --black: #000;
  --grey-1: #1F2937;
  --grey-2: #374151;
  --grey-3: #4B5563;
  --grey-4: #6B7280;
  --grey-5: #9CA3AF;
  --grey-6: #D1D5DB;
  --grey-7: #F3F4F6;
  --white: #FFF;

  --info: #A0C3FF;
  --success: #76CA66;
  --warning: #FBC756;
  --error: #BA0000;
}


