@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../assets/fonts/RobotoMedium.woff') format('woff'),
    url('../assets/fonts/RobotoMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
    url('../assets/fonts/UbuntuBold.woff') format('woff'),
    url('../assets/fonts/UbuntuBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
    url('../assets/fonts/UbuntuMedium.woff') format('woff'),
    url('../assets/fonts/UbuntuMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../assets/fonts/UbuntuRegular.woff') format('woff'),
    url('../assets/fonts/UbuntuRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans SemiBold'), local('WorkSans-SemiBold'),
    url('../assets/fonts/WorkSansSemiBold.woff') format('woff'),
    url('../assets/fonts/WorkSansSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans Light'), local('WorkSans-Light'),
    url('../assets/fonts/WorkSansLight.woff') format('woff'),
    url('../assets/fonts/WorkSansLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans Medium'), local('WorkSans-Medium'),
    url('../assets/fonts/WorkSansMedium.woff') format('woff'),
    url('../assets/fonts/WorkSansMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
